SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

DATABASE_URL=

WEBSITE_URL=
NEXT_PUBLIC_PAGE_SIZE=
REVALIDATE_SECRET=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
RESEND_API_KEY=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

CMS_URL=
CMS_API_SECRET=

UMAMI_API_KEY=
UMAMI_WEBSITE_ID=
